#VS code settings
.vscode/

# Compiled Binaries
*.exe
*.out
*.o
*.obj
*.elf
*.map

# Build folders
/bin/
build/
cmake-build-*/

# Unity Test Output (log or temp files)
*.log

# CMake generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Backup/Swap files
*~
*.swp

# Git internal
FETCH_HEAD

# Doxygen output folders – 
# will be uploaded only on release
/docs/html/
/docs/latex/

# Personal files (notes and to-do list)
personal/